{{- $arch := "arm" -}}
{{- if eq .chezmoi.arch "amd64" -}}{{- $arch = "x64" -}}{{- end -}}
{{- $etag := output "sh" "-c" (printf "curl -sIL --connect-timeout 5 https://distribution.paperlib.app/electron-mac-%s/latest.dmg 2>/dev/null | grep -i etag | head -1 || echo etag-fallback-ce25921d" $arch) | trim -}}
#!/bin/bash

set -eufo pipefail

# Paperlib version: {{ $etag }}

echo ":: [07] Installing Paperlib"

DMG_URL="https://distribution.paperlib.app/electron-mac-{{ $arch }}/latest.dmg"
TEMP_DMG="/tmp/latest.dmg"

curl -sL "$DMG_URL" -o "$TEMP_DMG"

VOLUME=$(hdiutil attach "$TEMP_DMG" | grep Volumes | awk '{print $3,$4,$5,$6}' | sed 's/ *$//')
APP_NAME=$(ls "$VOLUME" | grep '\.app$' | head -n 1)

echo "    Installing $APP_NAME to /Applications"
cp -R "$VOLUME/$APP_NAME" /Applications/

hdiutil detach "$VOLUME" -quiet
rm "$TEMP_DMG"
