{{- $suffix := "_arm" -}}
{{- if eq .chezmoi.arch "amd64" -}}{{- $suffix = "" -}}{{- end -}}
#!/bin/bash

set -eufo pipefail

echo ":: [07] Installing Paperlib"

VERSION="{{ .versions.paperlib }}"
REPO="Future-Scholars/paperlib"
DMG_NAME="Paperlib_${VERSION}{{ $suffix }}.dmg"
DMG_URL="https://github.com/${REPO}/releases/download/release-electron-${VERSION}/${DMG_NAME}"
TEMP_DMG="/tmp/${DMG_NAME}"

curl -fsSL "$DMG_URL" -o "$TEMP_DMG"

VOLUME=$(hdiutil attach "$TEMP_DMG" | grep Volumes | awk '{print $3,$4,$5,$6}' | sed 's/ *$//')
APP_NAME=$(ls "$VOLUME" | grep '\.app$' | head -n 1)

echo "    Installing $APP_NAME to /Applications"
cp -R "$VOLUME/$APP_NAME" /Applications/

hdiutil detach "$VOLUME" -quiet
rm "$TEMP_DMG"
