#!/bin/bash

set -euo pipefail

# Trigger re-run when profile or flake inputs change.
# trigger: {{ include "nix-config/flake.lock.tmpl" | sha256sum }}
# trigger: {{ include "nix-config/flake.nix.tmpl" | sha256sum }}
# trigger: {{ include "nix-config/modules/profile.nix.tmpl" | sha256sum }}

{{ $profile := joinPath .chezmoi.homeDir "nix-config/modules/profile.nix" -}}
{{- $lock := joinPath .chezmoi.homeDir "nix-config/flake.lock" -}}

echo ":: [03] Switching Nix profile"

# Source nix environment if not already available
{{ include ".chezmoitemplates/shell/source_nix_env.sh" }}
nix run ~/nix-config#{{ .hostname }}.switch
