---
registries:
  - type: standard
    ref: v4.470.0 # renovate: depName=aquaproj/aqua-registry

packages:
{{- range .aqua.packages.shared }}
  - name: {{ . | quote }}
{{- end }}
{{- if .work }}
{{- range .aqua.packages.work }}
  - name: {{ . | quote }}
{{- end }}
{{- end }}
{{- if .private }}
{{- range .aqua.packages.private }}
  - name: {{ . | quote }}
{{- end }}
{{- end }}
